* {
  box-sizing: border-box;
}

html {
    height: 100%;
  }
  
  body {
    top: 0px;
    min-height: 100%;
    width: 100%;
    max-width: 100vw;
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .main {
    overflow-x: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    top: 0px;
    width: 100%;
  }
  
  /* Content area that pushes footer down */
  .main > div:not(.footer) {
    flex: 1 0 auto;
  }
  