.featured-container {
    border: 5px solid pink;
    padding: 20px;
    margin: 20px;
    background-color: black;
    display: flex;
    justify-content: center;
    overflow-x: auto;
  }
  
  .scrolling-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    background-color: black;
  }
  
  .row {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .album-photos {
    width: 150px;
    background-color: pink;
    margin-top: 20px;
    border: solid palevioletred;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .album-photos img {
    max-width: 100%;
    transition: transform 0.3s ease;
  }
  
  .album-photos:hover {
    background-color: palevioletred;
    transform: scale(1.05);
  }
  
  .album-photos:hover img {
    transform: scale(1.1);
  }
  
  .album-photos h3 {
    font-size: 16px;
    color: black;
    margin: 10px 0;
  }