#hero {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background: url("https://wallpapersok.com/images/hd/cute-pink-aesthetic-music-vinyl-discs-iuzek7mbdd2yl0zt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 300px;
    height: 200px;
    object-fit: cover;
    margin: 50px;
    padding: 200px;
  }
  
  #book {
    display: flex;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    height: 100px;
    width: 50%;
    z-index: 3;
    margin-left: 10px;
  }
  
  .book-search {
    height: 40px;
  }
  
  #date {
    min-width: 70px;
    height: 42px;
  }
  
  #book-btn {
    height: 47px;
    width: 55px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: pink;
  }
  
  #hero-promo {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    z-index: 2;
    padding: 10px;
    border: solid thick palevioletred;
    border-radius: 10px;
    background: floralwhite;
    margin: auto;
    margin-top: 100px;
    color: black;
  }
  
  #buy {
    width: max-content;
  }

  #buy-btn {
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: pink;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 15px;
    font-weight: bold;
  }