#booking {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    text-align: center;
    position: absolute;
    top: 60px;
    padding-bottom: 80px;
    margin-top: 50px;
    width: 100vw;
  }
  
  .card {
    width: 20%;
    min-width: 150px;
    background-color: pink;
    margin-top: 20px;
    border: solid palevioletred;
  }
  
  img {
    max-width: 100%;
  }
  
  #booking-cart {
    margin-top: 10px;
  }
  
  #products-btn {
    top: 10px;
    width: 80px;
    height: 35px;
    margin-top: 10px;
  }
  
  #checkout-btn {
    width: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #booking-head {
    z-index: 1000;
    display: flex;
    position: fixed;
    top: 100px;
    height: 40px;
    width: 100vw;
  }
  
  #goToCart {
    text-align: center;
    margin-left: auto;
    height: 30px;
    width: 80px;
    margin-top: 3px;
  }
  
  #cart-title {
    margin-top: 50px;
  }
  
  #cart-container {
    position: fixed;
    right: 50%;
    transform: translate(50%, 0);
    text-align: center;
    padding-bottom: 80px;
    margin-top: 120px;
    width: 60vw;
    border: solid pink;
    background-color: white;
    max-height: 50vh;
    overflow-y: scroll;
    z-index: 1000;
  }