.library-page {
  min-height: calc(100vh - 200px); /* Account for nav and footer */
  padding-top: 80px; /* Account for fixed nav */
  width: 100%;
}

#booking {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    text-align: center;
    padding: 20px;
    padding-bottom: 80px;
    margin-top: 50px;
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .card {
    width: 20%;
    min-width: 150px;
    background-color: pink;
    margin-top: 20px;
    border: solid palevioletred;
  }
  
  img {
    max-width: 100%;
  }
  
  #booking-cart {
    margin-top: 10px;
  }
  
  #products-btn {
    top: 10px;
    width: 80px;
    height: 35px;
    margin-top: 10px;
  }
  
  #checkout-btn {
    width: 100px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #booking-head {
    z-index: 1000;
    display: flex;
    position: fixed;
    top: 120px; /* Adjusted for new nav height */
    height: 40px;
    width: 100%;
    justify-content: flex-end;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.8);
  }
  
  #goToCart {
    text-align: center;
    margin-left: auto;
    height: 30px;
    width: 80px;
    margin-top: 3px;
  }
  
  #cart-title {
    margin-top: 50px;
  }
  
  #cart-container {
    position: fixed;
    right: 50%;
    transform: translate(50%, 0);
    text-align: center;
    padding-bottom: 80px;
    margin-top: 120px;
    width: 60vw;
    border: solid pink;
    background-color: white;
    max-height: 50vh;
    overflow-y: scroll;
    z-index: 1000;
  }