.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100vw;
    background: white;
    z-index: 999;
  }
  
  #links {
    display: flex;
    height: 40px;
    background-color: palevioletred;
    border: solid; color: pink;
    align-items: center;
    justify-content: center;
  }
  
  .navlink {
    font-size: 15px;
    color: black;
    align-items: left;;
    justify-content: left;;
    font-weight: bold;
    font-family: 'Lucida handwriting', cursive;
    position: relative;
    right: 300px;
    gap: 20px;
    margin: 20px;
  }
  
  .icons {
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
  }
  
  .nav-items {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  
  .search-btn {
    height: 35px;
    width: 60px;
    position:fixed; 
    right: 70px;
    top: 15px;
    margin-left: 0px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: pink;
    border: 3px solid palevioletred;
    margin-right: 10px;
  }
  
  .search-box {
    width: 300px;
    height: 20px;
    padding: 5px;
    position:fixed; 
    right: 137px;
    top: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 3px solid palevioletred;
    margin-left: 10px;
  }
  
  #cart-btn {
    position: relative;
    bottom: 0;
    background: none;
    border: none;
    min-width: 50px;
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }